body{
    background-color: rgb(151, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: grid;
    grid-template-columns: auto;
    width: 50%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 5px;
}
form .form-group{
    margin: 5px;
    padding: 5px;
    align-items: center;

}
.form-group label{
    display: flex;
    flex-direction: column;
    margin: 3px;
    font-weight: 800;
    font-size: 1rem;
}
.form-group input{
    width: 95%;    
    background-color: black;
    color: white;
    height: 2rem;
    padding-left: 5px;
    text-align: left;
}
.text-danger{
    color: red;
    font-size: 1rem;
    font-weight: 300;
}
